<div class="card div-padding">
    <button class="btn btn-block" (click)="showAddUserForm()" [ngClass]="classBinding">Add User</button>
    <div *ngIf="showAddUser">
        <div class="card-header">
            <h2>Add User</h2>
        </div>
        <div class="card-card-body mb-3">

            <form (submit)="onSubmit($event)">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" [(ngModel)]="user.firstName" class="form-control" name="firtName">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" [(ngModel)]="user.lastName" class="form-control" name="lastName">
                </div>
                <button (click)="addUser()" class="btn btn-primary">Add New User</button>
            </form>
        </div>
    </div>
</div>

<div class="card-header div-padding">
    <h1>Users</h1>
</div>
<!-- style="padding-right: 150px; padding-left: 80px" -->
<div class="div-padding">
    <ul class="list-unstyled" *ngIf="loaded && users.length > 0">
        <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive">
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-fluid" [src]="user.image" alt="">
                    <!-- <img src="{{user.image}}" alt=""> -->
                </div>
                <div class="col-sm-8">
                    <h3>{{this.user.firstName}} {{this.user.lastName}}</h3>
                    <ul class="list-group" *ngIf="showExtended && user.address && user.age">
                        <li class="list-group-item">Age : {{this.user.age}}</li>
                        <li class="list-group-item">Address : {{this.user.address.street}} {{this.user.address.city}}
                            {{this.user.address.state}}</li>
                    </ul>
                </div>
            </div>


        </li>
    </ul>
</div>

<h4 *ngIf="!loaded">Loading</h4>
<h4 *ngIf="users.length == 0">No Users Found</h4>